@responsive {
    .fit-fill { object-fit: fill; }
    .fit-contain { object-fit: contain; }
    .fit-cover { object-fit: cover; }
    .fit-none { object-fit: none; }
    .fit-scale-down { object-fit: scale-down; }
}