/* purgecss start ignore */

.markdown p,
.markdown ol,
.markdown ul,
.markdown table,
.markdown blockquote {
    @apply mb-6;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
    @apply mb-1 text-brand-blue-dark pt-24 -mt-24;
    word-break: break-word;
}

.markdown h2 {
    @apply text-2xl font-bold mb-4;/* border-b-2 border-gray-200 pb-3 mb-4; */
}

.markdown h3,
.markdown h5 {
    @apply text-xl font-medium mb-4; 
}

.markdown h4 {
    @apply text-lg font-medium mb-4; 
}

.markdown .g-image:not(.g-image--plain) {
    @apply border rounded mx-auto;
}

.markdown h2 > a,
.markdown h3 > a,
.markdown h4 > a,
.markdown h5 > a {
    @apply absolute -ml-5 text-gray-400 font-normal leading-normal pr-2 text-lg;
}

.markdown h2:hover > a,
.markdown h3:hover > a,
.markdown h4:hover > a,
.markdown h5:hover > a {
    @apply inline-block;
}

.markdown h2 > a:hover,
.markdown h3 > a:hover,
.markdown h4 > a:hover,
.markdown h5 > a:hover {
    @apply text-brand-blue-light;
}

.markdown a {
    @apply text-brand-blue-light font-medium;
    transition: all .1s ease-in !important;
}

.markdown a:hover,
.markdown a:focus {
    @apply text-brand-blue-dark underline;
}

.markdown strong {
    @apply font-bold;
}

.markdown li {
    @apply ml-6;
}

/* .markdown li + li {
    @apply mt-1;
} */

.markdown li:before {
    @apply text-brand-blue-light font-bold inline-block text-2xl leading-none absolute -ml-5;
    content: "\2022";
}

.markdown ol {
    counter-reset: li;
}

.markdown ol li {
    counter-increment: li
}

.markdown ol li:before {
    @apply text-sm text-right -ml-12;
    line-height: 1.75;
    width: 2rem;
    content: counter(li);
}

.markdown code[class*="language-"], 
.markdown pre[class*="language-"] {
    @apply mt-0 mb-8 rounded-lg;
}

.markdown :not(pre) > code {
    @apply text-indigo-600 !important;
    @apply rounded px-1 py-0;
    background: rgba(74, 85, 104,.1);
    overflow-wrap: break-word;
}

.markdown table,
.markdown table tbody, 
.markdown table tr, 
.markdown table td,
.markdown table th {
    @apply block;
}

.markdown table th {
    @apply border-b-2;
}

.markdown table td,
.markdown table th {
    @apply border-t border-gray-300 px-4 py-2 text-base text-left;
}

.markdown table td[data-heading] {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;  
}

.markdown table td[data-heading]:before {
    @apply font-bold pr-4 text-sm;
    content: attr(data-heading);
    overflow: hidden;
    flex: 0 0 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
}

.markdown table thead {
    @apply hidden;
}

.markdown table tbody tr:nth-child(odd) {
    @apply bg-gray-100;
}




@screen md {
    .markdown table {
        display: table;
        width: 100%;
    }
    .markdown table tr {
        display: table-row;
    }
    .markdown table td,
    .markdown table th,
    .markdown table td[data-heading] {
        display: table-cell;
        word-break: normal;
    }
    .markdown table tbody {
        display: table-row-group;
    }
    .markdown table thead {
        display: table-header-group;
    }
    .markdown table thead th {
        @apply border-t-0 border-b-2;
    }
    .markdown table td[data-heading]:before {
        display: none;
    }
}

.markdown table.table--unresponsive {
    display: table;
}
.markdown table.table--unresponsive tr {
    display: table-row;
}
.markdown table.table--unresponsive td,
.markdown table.table--unresponsive th {
    display: table-cell;
}
.markdown table.table--unresponsive tbody {
    display: table-row-group;
}
.markdown table.table--unresponsive thead {
    display: table-header-group;
}
.markdown table.table--unresponsive thead th {
    @apply border-t-0 border-b-2;
}
.markdown table.table--unresponsive td:last-child {
    width: auto;
}
.markdown table.table--unresponsive tbody tr:nth-child(odd) {
    @apply bg-white;
}
.markdown table.table--unresponsive tbody tr:nth-child(even) {
    @apply bg-gray-100;
}

@screen md {
    .markdown table.table--unresponsive {
        width: auto;
    }
}

.markdown hr {
    @apply mb-6 border-t-2 border-gray-200;
}

.markdown blockquote {
    @apply border-l-4 border-gray-300 bg-gray-100 px-4 py-2 italic;
}

.markdown blockquote *:last-child {
    @apply mb-0;
}

/* purgecss end ignore */