.tooltip {
    cursor: help;
}

.tooltip:after {
    content: attr(data-tooltip);
    display: none;
    text-align: center;
    padding: 5px 3px;
    border-radius: 6px;
    position: absolute;
    background-color: rgba(0,0,0,.75);
    z-index: 100;
    width: 200px;
}

.tooltip:hover:after {
    display: block;
}

.tooltip--tm:after {
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip--tl:after {
    bottom: 125%;
    left: 0;
}